# ======================
# Python
# ======================
__pycache__/
**/__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db

# ======================
# Django
# ======================
/staticfiles/
/media/
/db.sqlite3

# ======================
# Entornos y configs locales
# ======================
.env
*.env
.claude/
settings.local.json

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
nul

# ======================
# Virtual Envs
# ======================
venv/
sacsvenv/

# ======================
# Testing / tooling
# ======================
.pytest_cache/
.idea/
.vscode/
