{% load static %}
<!-- Footer -->
<div id="kt_app_footer" class="app-footer">
    <div class="app-container container-xxl d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
        <!-- Copyright -->
        <div class="text-gray-900 order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">2025©</span>
            <a href="#" target="_blank" class="text-gray-800 text-hover-primary">SACS_BD</a>
            <span class="text-muted fw-semibold mx-2">|</span>
            <span class="text-muted fw-semibold">v1.0.0</span>
        </div>
        
        <!-- Menu -->
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item">
                <a href="#" target="_blank" class="menu-link px-2">Documentación</a>
            </li>
            <li class="menu-item">
                <a href="#" target="_blank" class="menu-link px-2">Soporte</a>
            </li>
            <li class="menu-item">
                <a href="#" target="_blank" class="menu-link px-2">Acerca de</a>
            </li>
        </ul>
    </div>
</div>
